cover;-omz-background-size: cover;-o-background-size: cover;background-size: cover;}

.top{background-color: white;width:100%;padding: 7px;}
h1 {color: red;text-align:center;}
table{border: none;}
.studentNumber{color: black;text-align:center;}
h3.Ahmed{color: black}
.content{text-align: center;}
.btn{cursor: pointer;}
#seats {border-collapse: collapse;width: 80%;margin: auto;}
#seats td, #seats th {padding: 20px;border: 5px solid ;}
.box{cursor:  box;}
.free:hover {color: #ffffff;}
.titles{color: black;background-color: #C2AFF0;}
.free{background-color: blue;}
.booked{background-color: RED ;}
p.A4{color: blacks;text-align:right;}
h4{color: black;text-align:center;}
h5 {color: green;text-align:center;}